.container-flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.container-flexbox .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.container-flexbox .one {
  flex-grow: 1;
}

.container-flexbox .two {
  flex-grow: 2;
}

ul.bits {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  list-style: none;
  padding: 0;
}

ul.bits li {
  margin: 5px;
  flex: 1 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  font-size: 2em;
  background-color: #e74c3c;
  color: #ffffff;
}

ul.bits li:before {
  content: '';
  float: left;
  padding-top: 100%;
}

ul.bits li.active {
  background-color: #2ecc71;
}

p.challenge {
  font-size: 2.5em;
  line-height: 2.5em;
  margin: 1.5em;
}

p.challenge .label {
  font-family: Courier New, Courier, monospace;
  padding: .3em .6em .3em;
  font-size: 1.5em;
}
.noselect {
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}
