@model BattleBits.Web.ViewModels.BattleBitsViewModel

<div ng-app="BattleBits">
    <ng-view />
</div>

@section Scripts {
    <script src="~/signalr/hubs"></script>
    <script>
        angular
            .module('BattleBits')
            .config(function($routeProvider) {
                $routeProvider
                    .when('/', {
                        controller: 'LeaderboardController',
                        templateUrl: '@Url.Action("LeaderboardTemplate", "BattleBits")'
                    })
                    .when('/game', {
                        controller: 'GameDisplayController',
                        templateUrl: '@Url.Action("GameDisplayTemplate", "BattleBits")'
                    })
                    .when('/play', {
                        controller: 'GamePlayController',
                        templateUrl: '@Url.Action("GamePlayTemplate", "BattleBits")'
                    })
                    .otherwise({
                        redirectTo: '/'
                    });
            })
            .constant('competitionId', @Model.CompetitionId)
            .value('SignalR', $.connection);
    </script>
}