@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">BattleBits: {{ competition.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="number in game.numbers track by $index">
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="text-center">{{ number | hex }}</h3>
                        <p class="text-center">
                            <span class="label label-default" ng-repeat="score in scores($index)">{{ score.player.userName }} @@ {{ score.time | number:2 }}s</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>