@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">BattleBits: {{ competition.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Previous Game</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Leaderboard</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Score</th>
                                <th>Game</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Next Game</h3>
                </div>
                <div class="panel-body">
                    <div ng-hide="nextGame != null">
                        <p ng-hide="nextGame.players">Waiting for players...</p>
                        <table class="table table-striped" ng-show="nextGame.players">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Company</th>
                                    <th>High Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in nextGame.player">
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.company }}</td>
                                    <td>{{ player.highScore }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center">
                            <button class="btn btn-primary" ng-click="playGame()">Join</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>