@{
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Capgemini</h1>
        </div>
    </div>
    @RenderBody()
</div>